<button (click)="buildForm()" *ngIf="!create">CREAR</button>
<div class="form-container" *ngIf="create">
  <form [formGroup]="calendarForm" (ngSubmit)="createEvent()">
    <mat-form-field>
      <input type="text" placeholder="Titulo" matInput formControlName="title" required>
    </mat-form-field>
    <mat-form-field>
      <input type="text" placeholder="Dirección" matInput formControlName="address" required>
    </mat-form-field>
    <mat-form-field>
      <textarea  placeholder="Descripción" matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="desde" placeholder="Desde" formControlName="startDate" required>
      <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
      <mat-datepicker #desde></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="hasta" placeholder="Hasta" formControlName="endDate" required>
      <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
      <mat-datepicker #hasta></mat-datepicker>
    </mat-form-field>
    <div class="input-container button-container">
      <button mat-button class="cancel-button" (click)="create = false">CANCEL</button>
      <button mat-button type="submit" [disabled]="!calendarForm.valid" class="login-button">CREAR</button>
    </div>
  </form>
</div>

<br><br>
<!--<div *ngFor="let event of calendarList | async" class="card">-->
<!--{{event | json}}-->
<!--</div>-->
