<button (click)="buildForm()" *ngIf="!create">CREAR</button>
<div class="form-container" *ngIf="create">
  <form [formGroup]="blogForm"  (ngSubmit)="createBlogItem()">
    <mat-form-field>
      <input type="text" placeholder="Titulo" matInput formControlName="title" required>
    </mat-form-field>
    <mat-form-field>
      <input type="text" placeholder="Descripcion" matInput formControlName="text" required>
    </mat-form-field>

    <!--todo: crear componente de subir archivos-->
    <!--<mat-form-field>-->
      <!--<app-input-file formControlName="basicfile" placeholder="Basic Input" ></app-input-file>-->
      <!--<mat-icon matSuffix>folder</mat-icon>-->
    <!--</mat-form-field>-->

    <div class="input-container button-container">
      <button mat-button class="cancel-button" (click)="create = false">CANCEL</button>
      <button mat-button type="submit" [disabled]="!blogForm.valid" class="login-button">CREAR</button>
    </div>
  </form>
</div>

<br><br>
<!--<div *ngFor="let blog of blogList | async" class="card">-->
<!--{{blog | json}}-->
<!--</div>-->
