<app-top-nav></app-top-nav>
<mat-toolbar>
  <span><a routerLink="/admin/dashboard/calendar">Calendario</a></span>
  <span><a routerLink="/admin/dashboard/blog">Blog</a></span>
  <span><a routerLink="/admin/dashboard/friends">Grupos de Amigos</a></span>
</mat-toolbar>


<!--<div>-->
  <!--<a routerLink="/admin/dashboard/calendar">Calendario</a>-->
  <!--<a routerLink="/admin/dashboard/blog">Blog</a>-->
  <!--<a routerLink="/admin/dashboard/friends">Grupos de Amigos</a>-->
<!--</div>-->
<router-outlet></router-outlet>
