.login-component {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #454955;
  .login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    background-color: white;
    width: 500px;
    height: 280px;
    margin: auto;
    border-radius: 10px;
    .input-container {
      width: 100%;
    }
    .spinner {
      position: absolute;
      top: 100px;
      left: 250px;
    }
    .logo-container {
      text-align: center;
      .logo-image {
        height: 90px;
      }
    }
    .login-button-container {
      text-align: right;
      margin-top: 15px;
      .login-button {
        background-color: red;
        color: white;
        height: 40px;
        width: 100px;
        border-radius: 5px;
      }
      .login-button:disabled {
        background-color: #FA7C7C;
      }
    }
  }
}
